{% extends "base.twig" %}

{% block title %}
    Welcome - HomePage
{% endblock %}

{% block head%}{% endblock %}

{% block content %}

    <div class="main">
        404 not found
    </div>
{% endblock %}
