{% for menu in menus %}
    {% if menu.menu == "*div*" %}
    <li class="dropdown-divider"></li>
    {% else %}
    <li class="nav-item dropdown ">

        <a {% if menu.parent_id == 0 %}	class="nav-link " {% else %}	class="dropdown-item" {% endif %} href="{{ menu.path_option }}">{{ menu.menu|capitalize }}</a>

        {% if menu.sub is iterable %}

            <ul class="dropdown-menu">
                {% include "./menu-links.twig" with {'menus': menu.sub} only	 %}
            </ul>
        {% endif %}
    </li>
    {% endif %}
    
{% endfor %}

