<html>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
  
      <!-- Left nav -->
      <ul class="nav navbar-nav mr-auto">
     
      </ul>

      <!-- Right nav -->
      <ul class="nav navbar-nav">
        {# <input type=text placeholder="Buscar" > #}
           <li class="nav-item"><a class="nav-link" href="{{ path_for('index') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path_for('customers') }}">Clientes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ordenes</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Administracion</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item disabled" href="#">Disabled link</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-header">Finanzas</li>
            <li><a class="dropdown-item" href="#">Inventarios</a></li>
            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Reportes</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">A long sub menu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="#">One more link</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">Another link</a></li>
                <li><a class="dropdown-item" href="#">One more link</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Sistema</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " href="#">POS</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-header">Configuracion</li>
            <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Idioma</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><a class="dropdown-item disabled" href="#">Disabled item</a></li>
                <li><a class="dropdown-item" href="#">One more link</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Template</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item " href="#">Salir</a></li>
          </ul>
        </li>
        
      </ul>
  
    </div>
  </div>
</nav>
</html